{
    "env": {
        "jest": true
    },
    "extends": [ "@odg" ],
    "globals": {
        "Proxy": true
    },
    "overrides": [
        {
            "files": "**/Decorators/*.ts",
            "rules": {
                "max-classes-per-file": [
                    "error",
                    { "ignoreExpressions": true }
                ]
            }
        }
    ]
}
